{% extends "base.html.twig" %}

{% block mainbody %}
	<div class="container">
		<div class="row">
			<h1>Chuck Norris Jokes</h1>
		</div>

		<div class="row">
			<div id="categories-menu">
				<ul>
				{% for category in categories %}
					<li value="{{ category.name }}">
						{{ category.name | capitalize }}
					</li>
				{% endfor %}
				</ul>
			</div>
			<div id="jokes-display">
				<img id="chuck-norris-logo" src="{{ asset('build/images/chuck_norris.png') }}" alt="Chuck Norris image">
				<p id="joke-text">Click on a category to show a random joke...</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('get_random_joke') }}
{% endblock %}